/* ----------------------------------------------------Navbar */
.navbar-brand{
    margin-left: 36%;
}

@media only screen and (max-width: 880px) {
    #hiddenable{
        display: none !important;

    }
}

@media only screen and (min-width: 880px) {
    #hiddenable-text{
        display: none !important;

    }
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

a:hover{
    color: #c5c5c5 !important;
}

ul{
    list-style-type: none;
}

li #login-list{
    display: inline !important;
    float: left !important;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#header-logo img{
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0%;
}

#header-icon-signup{
    height: 35px;
    width: 35px;
    margin: 1em;
}

#header-icon{
    height: 50px;
    width: 50px;
}

#heading div{
    height: 150px;
}

/* ----------------------------------------------------Navbar */

/* ----------------------------------------------------Main Carousel */

#main .carousel-inner img{
    max-height: 60vh;
    object-fit: cover;

}

#img-top{
    height: 300px !important;
}

/* ----------------------------------------------------Main Carousel */

/* ----------------------------------------------------Main Carousel */

/* ----------------------------------------------------About us */

#darker{
    position: relative;
    box-sizing: border-box;
    width: 370px;
    height: 240px;
    padding: 5px;
}

#img{
    position: absolute;
    left: 0;
    top: 0;
}

#text{
    display: unset;
    z-index: 100 !important;
    position: absolute !important;
    color: white !important;
    font-size: 24px !important;
    font-weight: bold !important;
    left: 15px !important;
    top: 35px !important;
}

#darker:hover{
    filter: grayscale(100%);
    transition: 1s;
}


/* ----------------------------------------------------About us */

/* ----------------------------------------------------Product Carousel */

@media only screen and (max-width: 880px) {

    .display-5{
        margin-top: 10% !important;

    }
    
}

.display-5{
    margin-top: 3%;
    color: darkgrey;

}

#carousel-button{
    filter: invert(100%) !important;
}

@media only screen and (max-width: 880px) {
    #hiddenable-carousel{
        display: none !important;

    }
}

.card{
    width: 18rem;
    margin: auto;
}

@media only screen and (max-width: 880px) {

    #unhiddenable-carousel{
        margin-left: 23% !important;
        ;
    } 
}

#container-carousel{
    background: rgb(250, 250, 250) !important;
}

/* ----------------------------------------------------Product Carousel */

/* ----------------------------------------------------Footer */

#footer-logo{
    height: 80px;
    width: 80px;
}

#tittle-footer{
    color: #fe8431;

}

#footer-icon{
    height: 30px;
    width: 30px;
}

#footer{
    background: #606060;
    height: 400px;
}

@media only screen and (min-width: 992px) {

    #footer{

        height: 150px;

    }
    
}

/* ----------------------------------------------------Footer */