/* ----------------------------------------------------Navbar */

#logoNavbar{
    margin-top: 5px;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
}

#collapsable, .navbar-toggler{
    margin-left:0 !important;
    margin-right:auto  !important;
}

@media only screen and (max-width: 880px) {
    #collapsable{
        display: none;

    }
}

#header-icon-signup{
    height: 35px;
    width: 35px;
    margin: 1em;
}




a {
    text-decoration: none !important;
    color: #fff !important;
}

a:hover{
    color: #c5c5c5 !important;
}

ul{
    list-style-type: none;
}


img{
    max-width: 100%;
    max-height: 100%;
}

/* ----------------------------------------------------Navbar */

/* ----------------------------------------------------Main Carousel */

#main .carousel-inner img{
    max-height: 60vh;
    object-fit: cover;

}

#img-top{
    height: 300px !important;
}

/* ----------------------------------------------------Main Carousel */

/* ----------------------------------------------------Main Carousel */


/* ----------------------------------------------------Product Carousel */

@media only screen and (max-width: 880px) {

    .display-5{
        margin-top: 10% !important;

    }
    
}

.display-5{
    margin-top: 3%;
    color: darkgrey;

}

#carousel-button{
    filter: invert(100%) !important;
}

@media only screen and (max-width: 880px) {
    #hiddenable-carousel{
        display: none !important;

    }
}

.card{
    width: 18rem;
    margin: auto;
}

@media only screen and (max-width: 880px) {

    #unhiddenable-carousel{
        margin-left: 23% !important;
        ;
    } 
}

#container-carousel{
    background: rgb(250, 250, 250) !important;
}

/* ----------------------------------------------------Product Carousel */

/* ----------------------------------------------------About us */

.imgContainer{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 0 !important;
}

.imgContainer #img {
    object-fit: fill;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(5px) !important; 
    transition: 1s;
}

.textOverImage{
    z-index: 100 !important;
    position: absolute !important;
    color: #fe8431 !important;
    font-size: 24px !important;
    font-weight: bold !important;
    left: 15px !important;
    top: 200px !important;
}

#img:hover{
    filter: blur(0px) !important;
    transition: 1s;
}

.textOverImage:hover{
    display: none;
}




/* ----------------------------------------------------About us */

/*-----------------------------------------------------About us content */

.fill{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#back{
    position: relative;
}

#back .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}

/*-----------------------------------------------------About us content */


/* ----------------------------------------------------Footer */

#footer-logo{
    height: 80px;
    width: 80px;
}

#tittle-footer{
    color: #fe8431;

}

#footer-icon{
    height: 30px;
    width: 30px;
}

#footer{
    background: #606060;
    height: 400px;
}

@media only screen and (min-width: 992px) {

    #footer{

        height: 150px;

    }
    
}

/* ----------------------------------------------------Footer */

/* ------------------------------------------------------------------------------------------------------------
                                                coffee-mug-coffeeMakker
*/

#backHeader{
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
}

#backHeader img{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

#backHeader .overlayHeader{
    position: absolute;
}

#backHeader .overlayHeader h3{
    color: #fff;
}

.hiddenableDescription{
    display: none;
}

#product{
    height: 500px;
}